<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Js</title>
    <style>
      .is-loading {
        background: red;
      }
      h1 {
        color: blue;
      }
      .incomplete {
        color: red;
      }
    </style>
  </head>
  <body>
    <div id="root">
      <h2>All Tasks</h2>
      <ul>
        <li v-for="task in tasks" v-text="task.description"></li>
      </ul>

      <h2>Incomplete Tasks</h2>
      <ul class="incomplete">
        <li v-for="task in incompleteTasks" v-text="task.description"></li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
      let app = new Vue({
        el: "#root",

        data: {
          tasks: [
            { description: "Go to the store", completed: true },
            { description: "Go to the market", completed: false },
            { description: "Go to the kitchen", completed: true },
            { description: "Go to the school", completed: false },
            { description: "Go to the bank", completed: true },
            { description: "Go to the road", completed: true },
          ],
        },

        computed: {
          incompleteTasks() {
            return this.tasks.filter((task) => !task.completed);
          },
        },
      });
    </script>
  </body>
</html>
